.question-list-area {
  padding: 3% 13%;
}

.list-title {
  color: #bfbfbf;
  margin-bottom: 3%;
}

.title-row {
  color: #bfbfbf;
  margin-bottom: 0.3%;
  padding: 1%;
}

.question-list {
  margin: 0 auto;
  padding: 20px 30px;
  background-color: #1e1e1e;
  border-radius: 10px;
  color: #bfbfbf;
  line-height: 1.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-title-area {
  font-size: 18px;
  margin-bottom: 10px;
}

.question-title-text {
  color: #bfbfbf;
  text-decoration: none;
}
.question-title-text:hover {
  color: #0c77e2;
}

.difficulty {
  padding: 4px 8px;
  font-size: 14px;
  margin-right: 10px;
}

.easy {
  color: #00b898;
}

.medium {
  color: #f69c49;
}

.hard {
  color: #ff3750;
}

.tags {
  display: flex;
}

.tag {
  background-color: #bfc0c2;
  color: #434242;
  padding: 0px 5px;
  margin-right: 5px;
  border-radius: 5px;
  font-size: 14px;
}

.no-questions {
  text-align: center;
  margin-top: 5%;
  font-size: larger;
}
