.navbar {
  padding: 5px 20px;
  background-color: #1e1e1e;
  color: #bfbfbf;
  position: sticky;
  border-bottom: 10px solid #282828;
  border-left: 10px solid #282828;
  border-right: 10px solid #282828;
}

.navbar-brand:hover {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
.nav-buttons {
  text-align: end;
}
.nav-button {
  margin: 0 20px;
}
