.profile-page {
  color: #bfbfbf;
  padding: 2%;
}

.stats {
  padding: 0 5% 0 20%;
}

.info {
  padding: 2% 5% 0 3%;
  border: 1px solid rgba(191, 191, 191, 0.3);
  border-radius: 20px;
  margin: 1% 2% 1% 0;
}

.info-title {
  color: aliceblue;
  font-size: larger;
  margin-bottom: 15px;
}
