body {
  padding: 0;
  margin: 0;
  background-color: #282828;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.lang {
  margin: 0 10px 2px 10px;
  padding: 5px;
  background-color: #1e1e1e;
  /* position: sticky; */
}
select {
  text-align: center;
  border: none;
  background-color: #1e1e1e;
  color: #bfbfbf;
}

.question-statement {
  padding: 30px;
  background-color: #1e1e1e;
  color: #bfbfbf;
  border-right: 10px solid #282828;
  border-left: 20px solid #282828;
  height: 91vh;
  overflow-y: scroll;
}
.solution {
  height: 100%;
  border-right: 10px solid #282828;
  padding: 0;
}
::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #636262; /* Color of the thumb */
  border-radius: 5px; /* Round the thumb */
}

.buttons-section {
  margin: 10px 10px 0 10px;
  padding: 10px 15px;
  background-color: #1e1e1e;
  text-align: right;
}

.submit-btn {
  background-color: #2ab25d;
  padding: 5px 15px;
  color: #ffffff;
}

.submit-btn:hover {
  background-color: #45e482;
}

.statement {
  margin-bottom: 35px;
}
.examples {
  margin-bottom: 35px;
  line-height: 1;
}
.bold {
  color: #f4f1f1;
}
.console-button {
  padding: 1%;
  border: none;
  background-color: #1e1e1e;
  color: #bfbfbf;
  margin-bottom: 10px;
}
.console-area {
  box-shadow: 0 4px 6px rgba(228, 226, 226, 0.1);
  padding: 10px 15px;
  background-color: #282828;
  border: 1px solid rgba(191, 191, 191, 0.3);
  line-height: 1;
}
.editor {
  height: 77vh;
  margin: 0 10px;
}

.green-txt {
  color: #2ab25d;
}
.red-txt {
  color: #ef4743;
}

#instructions {
  margin-left: 5%;
  margin-right: 5%;
  width: 150px;
  line-height: 2;
}
#instruction {
  color: #1e1e1e;
  width: 200px;
  padding: 2%;
}
